<div class="about-page">
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="text-violet-bold">
                Notre mission:
            </h5>
            <h6 class="text-violet">
                Donner la parole aux employés 
            </h6>
            <div>
             Car nous croyons que 
l'entreprise est  
un lieu où la communication 
et le dialogue sont 
libérés et constructifs
            </div>
            <div class="mt-5 text-violet">
              Nous avons crée Feedward pour 
permettre aux employés d'élever 
leur voix, et aux responsables, 
de pouvoir agir à temps
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="<%= asset_path('offices/about')%>">
        </div>
    </div>
  <div>
</div>