<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Carrières"%>
</head>

<body>
 <div class="careers-page">
  <div class="careers-photo"></div>
  <div class="container">
    <div class="row">
        <div class="text-center mx-auto">
            <h3 class="text-violet-bold">
              Rejoignez-nous ! 
            </h3>
            <div class="">
           Envoyez-nous votre CV à
            </div>
            <div class="">
            <a class="text-violet" 
            href="mailto:recrutement@getfeedward.com">recrutement@getfeedward.com</a>
            </div>
           
        </div>
      
    </div>
  </div>
</div>
</body>

</html>