<div class="contact-page">
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-6" id="text">
            <h5 class="text-violet-bold">
                Contactez-nous !
            </h5>
            <div>
              Notre équipe est à votre disposition 
pour répondre à toutes vos questions 
            </div>
            <div class="ml-5 mt-5">
                Envoyer-nous un message à <a 
                class="text-violet"
                href="mailto:contact@getfeedward.com">contact@getfeedward.com</a>
            </div>
        </div>
        <div class="col-12 col-md-6" id="image">
            <img class="img-fluid" src="<%= asset_path('offices/contact')%>">
        </div>
    </div>
  <div>
</div>