<div class="index-page">
  <section class="hero">
    <d class="hero-inner">
      <h1>Feedward</h1>
      <h2>L'application qui te permet d'évaluer</br>ton équipe mangériale en toute sérénité.</h2>
      <div class="row">
        <a class="btn btn-primary" href="/index_entreprise"
          >Je suis une entreprise</a
        >
        <a class="btn btn-secondary" href="/index_individuel"
          >Je suis un employé</a
        >
      </div>
    </div>
  </section>
</div>

