<div class="index-page">
  <section class="hero">
    <div class="hero_inner">
      <h1>Feedward.</h1>
      <div class="row">
        <a class="btn btn-primary" href="/index_entreprise">Je suis une entreprise</a>
        <a class="btn btn-secondary" href="/index_individuel">Je suis un employé</a>
      </div>
    </div>
  </section>
</div>