<div class="legal-notice-page">
  <div class="container">
    <div class="row">
        <div class="col-12">
            <h5 class="text-violet-bold">
                Mention légales
            </h5>
            <div class="mt-4">
            Ce site est hébergé par la société Heroku Inc., dont le siège se situe au 650 7th Street, San Francisco, CA 94103 (tel : +33 1 (877) 563-4311).
            </div>
            <div class="mt-4">
              ‍Droits d'auteur : La société Feedward est titulaire de l'intégralité des droits d'auteur sur le contenu du site et ses marques, logos, noms de domaine et tous signes distinctifs afférents sont considérés comme des œuvres de l'esprit sur lesquels la société Feedward détient tous droits de propriété intellectuelle et commerciale. Conformément aux dispositions du Code de la propriété intellectuelle et des traités et accords internationaux, toute reproduction, divulgation, distribution, représentation, traduction, diffusion, modification, transcription, partielle ou totale, quel que soit le support considéré et quel que soit le procédé utilisé pour un usage autre que celui privé est interdit sans l'autorisation préalable et expresse de la société Feedward. Toute contravention aux dispositions du présent article est constitutive du délit de contrefaçon et engage à ce titre la responsabilité civile et pénale de son auteur. La loi n° 98-536 du 1er juillet 1998 relative aux bases de données n'accorde par ailleurs aucune exception de copie privée.
            </div>
             <div class="my-5">
             Pour toute question sur nos conditions d’utilisation, n’hésitez pas à nous contacter : 
             <a class="text-violet" href="mailto:contact@getfeedward.com">contact@getfeedward.com</a>
            </div>
        </div>
      
    </div>
  <div>
</div>