<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Politique | "%>
</head>

<body>
  <div class="privacy-policy-page">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="text-violet-bold">
            Politiques de confidentialité
          </h5>
          <div class="mt-4">
                <p> Nous prenons au sérieux la protection et le respect de la vie privée des utilisateurs de notre site web
              et prenons les mesures nécessaires pour le garantir. Nous nous engageons donc à respecter la
              confidentialité des renseignements personnels que nous collectons selon les modalités décrites ci-dessous.
              Nos utilisateurs trouveront dans la présente Politique de confidentialité les renseignements personnels
              que nous collectons à leur sujet, à quelles fins ces renseignements sont utilisés, les moyens de les
              collecter, les moyens dont les utilisateurs disposent pour s'opposer à la collecte ainsi que les mesures
              de sécurité prises pour protéger leurs renseignements personnels. </p><br/>
            <p> Nous collectons les renseignements suivants sur l'ensemble des personnes concernés par le service : </p>
            <ul>
              <li>Nom</li>
              <li>Prénom</li>
              <li>Adresse électronique</li>
            </ul><br/>

            <p>Vos renseignements personnels sont collectés par l'entremise des méthodes suivantes : <p>
            <ul>
              <li>Formulaire d'inscription au site Web</li>
              <li>Formulaire sur l'espace personnel</li>
              <li>Feedbacks envoyés</li>
            </ul><br/>

            <p> Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements
              personnels.</p>
            <p>Le droit d'opposition s'entend comme étant la possibilité offerte aux internautes de refuser que leurs
              renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.</p>
            <p>Pour pouvoir exercer ces droits, vous pouvez joindre les propriétaires du site web et leur faire
              parvenir un avis leur faisant part de votre opposition à l'utilisation de vos renseignements
              personnels pour les fins qui ne vous conviennent pas ou leur faire parvenir votre demande de retrait à
              l'adresse qui suit :</p>
            <p>Email de contact : contact@getfeedward.com</p><br/>
            <p>Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes
              concernées désireuses de consulter, modifier, voir radier les informations les concernant.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>