<!DOCTYPE html>
<html>

  <head>
    <% content_for :title, "Notre Equipe | "%>
  </head>

<body>
  <div class="team-page">
    <div class="container">
      <div class="row">
        <h3 class="text-violet-bold">Notre Equipe</h3>
      </div>
      
      <div class="row justify-content-between">
        <div class="card mb-4" style="width: 18rem;">
          <img src="../images/photos/afsaneh.png" class="card-img-top" alt="Photo d'Afsaneh">
          <div class="card-body">
            <h5 class="card-title">Afsaneh</h5>
            <p class="card-text">afsaneh@getfeedward.com</p>
          </div>
        </div>

        <div class="card mb-4" style="width: 18rem;">
          <img src="../images/photos/donatella.png" class="card-img-top" alt="Photo de Donatella">
          <div class="card-body">
            <h5 class="card-title">Donatella</h5>
            <p class="card-text">donatella@getfeedward.com</p>
          </div>
        </div>

        <div class="card mb-4" style="width: 18rem;">
          <img src="../images/photos/yanis.png" class="card-img-top" alt="Photo de Yanis">
          <div class="card-body">
            <h5 class="card-title">Yanis</h5>
            <p class="card-text">yanis@getfeedward.com</p>
          </div>
        </div>

        <div class="card mb-4" style="width: 18rem;">
          <img src="../images/photos/duy.png" class="card-img-top" alt="Photo de Duy">
          <div class="card-body">
            <h5 class="card-title">Duy</h5>
            <p class="card-text">duy@getfeedward.com</p>
          </div>
        </div>

        <div class="card mb-4" style="width: 18rem;">
          <img src="../app/assets/images/photos/maxime.png" class="card-img-top" alt="Photo de Maxime">
          <div class="card-body">
            <h5 class="card-title">Maxime</h5>
            <p class="card-text">maxime@getfeedward.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>