<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Feedward!</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="email-background">
      <div class="pre-header">
        Tu viens à l'instant de t'inscrire à Feedward. L'application qui te
        permet d'évaluer ton équipe mangériale en toute sérénité.
      </div>
      <div class="email-container">
        <h1>Salut et bienvenue chez Feedward !</h1>
        <h2>
          Tu t'es inscrit sur Feedward en utilisant l'e-mail suivant : <%=
          @user.email %>.
        </h2>
        <img src="https://media.giphy.com/media/AeWoyE3ZT90YM/source.gif" alt="">
        <p>
          Tu vas maintenant pouvoir évaluer ton équipe managériale. Seule la personne en charge des ressources humaines de ton entreprise aura
          accès à ce fichier dans le détail.<br />
          Tu as la possibilité de modifier à tout moment ton formulaire, et l’envoyer lorsque tu as fini ta journée de travail.<br />
          Tu peux aussi partager ton feedback avec une personne de ton choix.<br />
          </p>
        <div class="confirm-email">
          <%= link_to "Confirmer mon adresse email.", dashboard_url %>.<br />
        </div>
        </p>
        <p>Merci pour ta confiance.</p>
        <p>À très vite sur Feedward !</p>
      </div>
      <div class="footer">
        <a href="http://getfeedward.com/">Visiter le site</a> | <a href="mailto: contact@getfeedward.com">Nous contacter</a>
      </div>
    </div>
  </body>
</html>
