<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur Feedward en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p>
      Renseigne ton profil et nous t'invitons dès maintenant à <%= link_to "remplir ton premier questionnaire.", dashboard_url %>.<br>
      Seule la personne en charge des ressources humaines de ton entreprise aura accès à tes réponses dans le détail et pourra en faire part à ton manager si besoin (avec ton accord préalable).<br>
      Pour que ton équipe RH ait une repérésentation la plus fidèle possible du fonctionnement de ton équipe, nous t'invitons à remplir un formulaire par jour.<br>
      Ce formulaire sera modifiable toute la journée de sa création jusqu'à 18h.<br>
      Tu as la possibilité de faire part de ton feedback à un ou plusieurs de tes équipiers en remplissant leur adresse mail en bas du formulaire.<br>
      Pour toute autre question, n'hésite pas à nous écrire à : contact@getfeedward.com.<br>
    </p>
    <p>Merci pour ta confiance.</p>
    <p> À très vite sur Feedward ! </p>
    <br>

    <%= image_tag('https://media.giphy.com/media/ieP8ayRaOgkBJRoqcO/source.gif') %>
  </body>
</html>