<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Feedward!</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      .email-background {
        background: #eee;
        padding: 10px;
      }

      .email-container,
      .pre-header,
      .footer {
        max-width: 500px;
        background: #dddbf8;
        font-family: sans-serif;
        margin: 0px auto;
        overflow: hidden;
        border-radius: 5px;
      }

      .pre-header {
        background: #eee;
        color: #eee;
        font-size: 5px;
      }

      img {
        max-width: 100%;
      }

      h1,
      h2 {
        margin: 10px 30px;
      }

      p {
        margin: 20px;
        font-size: 18px;
        color: #222324;
        line-height: 1.5;
        font-weight: 300;
      }
      .text-white{
        color: #fff;
      }

      .confirm-email {
        text-align: center;
        margin: 20px;
        text-decoration: none;
        display: inline-block;
        background: #6558f5;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
      }

      .footer {
        background: none;
        text-align: center;
        padding: 20px;
        font-size: 14px;
      }

      .footer,
      a {
        text-decoration: none;
        color: #222324;
      }

    </style>
  </head>

  <body>
    <div class="email-background">
      <div class="pre-header">
        Tu viens à l'instant de t'inscrire à Feedward. L'application qui te
        permet d'évaluer ton équipe mangériale en toute sérénité.
      </div>
      <div class="email-container">
        <h1>Salut et bienvenue chez Feedward !</h1>
        <h2>
          Tu t'es inscrit sur Feedward en utilisant l'e-mail suivant : <%=
          @user.email %>.
        </h2>
        <img src="https://media.giphy.com/media/AeWoyE3ZT90YM/source.gif" alt="">
        <p>
          Tu vas maintenant pouvoir évaluer ton équipe managériale. Seule la personne en charge des ressources humaines
          de ton entreprise aura
          accès à ce fichier dans le détail.<br />
          Tu as la possibilité de modifier à tout moment ton formulaire, et l’envoyer lorsque tu as fini ta journée de
          travail.<br />
          Tu peux aussi partager ton feedback avec une personne de ton choix.<br />
        </p>
        <div class="confirm-email">
          <%= link_to 'Confirmer mon adresse email', confirmation_url(@user, confirmation_token: @user.confirmation_token) , class="text-white"%><br /> 

        </div>
        </p>
        <p>Merci pour ta confiance.</p>
        <p>À très vite sur Feedward !</p>
      </div>
      <div class="footer">
        <a href="http://getfeedward.com/">Visiter le site</a> | <a href="mailto: contact@getfeedward.com">Nous
          contacter</a>
      </div>
    </div>
  </body>

</html>