
 <div class="container">
      <div class="row">
          <div class="col-md-8 col-lg-6 mx-auto">

            <div class="demo-form modal fade py-4" id="demo-modal" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                            <h5 class="text-violet-bold text-center mb-4">
                          Demander une démo
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                      </div>

                      <div class="modal-body">
                              <div class="text-center mb-3">
                                Laissez-nous vos coordonées, notre équipe s'occupe de tout !
                              </div>
                             <form>
                                <div class="form-row mb-3">
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="Nom">
                                  </div>
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="Prénom">
                                  </div>
                                </div>
                                <div class="form-group mb-3">
                                  <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group mb-3">
                                  <input type="text" class="form-control" placeholder="Numéro de téléphone">
                                </div>
                                <div class="form-group">
                                  <input type="submit" class="btn btn-violet-outline btn-block" value="Valider">
                                </div>

                            </form>
                      </div>
                  </div>
              </div>
            </div>
    </div>
  </div>
</div>

