<section id="demo">
  <div class="mt-5">
    <div class="text-center text-violet-bold demo-action display-4 mt-5">
      Faites le pas dès <strong><em class="text-indigo">maintenant</strong></em>
    </div>
    <div class="text-center">
      <a class="big-btn btn-outline-primary mt-5 mb-3" href="<%= new_user_registration_path %>">Rejoindre mon entreprise</a>
    </div>
    <h3 class="text-center font-weight-bold mt-5">car un salarié qui s'exprime est ...</h3>
    <div class="row mt-4 text-center text-big-landing">
      <div class="col-6 col-md-3 text-primary">
        <strong>plus heureux</strong>
      </div>
      <div class="col-6 col-md-3 text-beige">
        <strong>plus productif</strong>
      </div>
        <div class="col-6 col-md-3 text-primary">
        <strong>moins malade</strong>
      </div>
      <div class="col-6 col-md-3 text-beige">
        <strong>plus intégré</strong>
      </div>
    </div>
  </div>
</section>
