<section id="demo">
  <div class="container">
      <h5 class="text-center text-violet-bold">
        Une voix à vos employés pour grandir ensemble
      </h5>
      <div class="row">
          <div class="col-4">
            <div class=text-center>
              <i class="far fa-calendar-alt fa-3x text-gray"></i>
            </div>
            <div class="text-center mt-2">
              Montrez à vos salariés que leurs paroles comptent et qu'elles sont entendues
            </div>
        </div>

        <div class="col-4">
            <div class="text-center">
                <i class="fas fa-smile fa-3x text-gray"></i>
            </div>
             <div class="text-center mt-2">
              Favorisez l’épanouissement professionnel de vos employés
            </div>
        </div>

        <div class="col-4">
             <div class=text-center>
                <i class="fas fa-chart-line fa-3x text-gray"></i>
            </div>
             <div class="text-center mt-2">
              Tirez le meilleur et boostez la productivité de chacun 
            </div>
        </div>
      </div>

      <h5 class="text-center text-violet-bold demo-action">
        Faites le pas dès maintenant
      </h5>
      <div class="text-center">
      <button class="btn btn-outline-primary mt-4" href="#"
      data-toggle="modal" data-target="#demo-modal"
      >Demandez une démo</button>
      </div>
      <div class="text-center">
      <a class="btn btn-outline-primary mt-4" href="<%= new_user_registration_path %>">Créez son compte</a>
      </div>
      <h6 class="text-center font-weight-bold mt-5">car un salarié heureux ext ...</h6>
      <div class="row mt-4 text-center">
          <div class="col-6 col-md-3">
            55 % plus créatif
          </div>
          <div class="col-6 col-md-3">
            31 % plus productif
          </div>
            <div class="col-6 col-md-3">
            2 fois moins malade
          </div>
            <div class="col-6 col-md-3">
            6 fois moins absent
          </div>
      </div>
  </div>
</section>

<%= render :partial => 'static_pages/partials/demo_form'%>