<section id="home-2" tabindex="-1">
  <!-- section 2 -->
  <div id="readmore-2" class="readmore-section-2 container">
      <div class="text-center mt-3">
          <div class="text-violet-bold display-4">
              Des feedbacks <strong><em class="text-indigo">rapides et réguliers</strong></em>
          </div>
      </div>
      <div class="row mt-5 mx-auto">
        <div class="col-4 mt-5">
            <div class=text-center>
              <i class="far fa-calendar-alt fa-5x text-beige"></i>
            </div>
            <div class="text-center text-landing mt-5">
              Un <strong class="text-beige">suivi quotidien</strong> de votre ressenti et de vos attentes par votre équipe managériale
            </div>
        </div>

        <div class="col-4 mt-5">
            <div class="text-center">
                <i class="fas fa-chart-line fa-5x text-beige"></i>
            </div>
             <div class="text-center text-landing mt-5">
              Une <strong class="text-beige">analyse</strong> récapitulative de l'ensemble de vos feedbacks
            </div>
        </div>

        <div class="col-4 mt-5">
             <div class=text-center>
                <i class="fas fa-user-friends fa-5x text-beige"></i>
            </div>
             <div class="text-center text-landing mt-5">
              Des interfaces <strong class="text-beige">personnalisées</strong> en fonction du statut et des besoins de chacun
            </div>
        </div>
      </div>
  </div>
</section>