<section id="home-2">
  <!-- section 2 -->
  <div class="readmore-section-2 container">
      <div class="text-center">
          <h3 class="text-violet-bold">
              Des feedbacks <strong><em class="text-indigo">rapides et réguliers</strong></em>
          </h3>
      </div>
      <div class="row mt-4">
        <div class="col-4">
            <div class=text-center>
              <i class="far fa-calendar-alt fa-3x text-beige"></i>
            </div>
            <div class="text-center mt-2">
              Un <strong class="text-beige">suivi quotidien</strong> du ressenti et des attentes de vos employés
            </div>
        </div>

        <div class="col-4">
            <div class="text-center">
                <i class="fas fa-chart-line fa-3x text-beige"></i>
            </div>
             <div class="text-center mt-2">
              Une <strong class="text-beige">analyse</strong> récapitulative et précise de l'ensemble des feedbacks
            </div>
        </div>

        <div class="col-4">
             <div class=text-center>
                <i class="fas fa-user-friends fa-3x text-beige"></i>
            </div>
             <div class="text-center mt-2">
              Des interfaces <strong class="text-beige">personnalisées</strong> en fonction du statut de chacun
            </div>
        </div>
      </div>
  </div>
</section>