<section id="home-2">
  <!-- section 2 -->
  <div class="readmore-section-2 container">
      <div class="text-center">
          <h5 class="text-violet-bold">
              Des feedbacks rapides et réguliers
          </h5>
      </div>
      <div class="row mt-5">
        <div class="col-4">
            <div class=text-center>
              <i class="far fa-calendar-alt fa-3x"></i>
            </div>
            <div class="text-center mt-2">
              Un suivi quotidien du ressenti et des attentes de vos employés
            </div>
        </div>

        <div class="col-4">
            <div class="text-center">
                <i class="fas fa-chart-line fa-3x"></i>
            </div>
             <div class="text-center mt-2">
              Une analyse récapitulative et précise de l'ensemble des feedbacks
            </div>
        </div>

        <div class="col-4">
             <div class=text-center>
                <i class="fas fa-user-friends fa-3x"></i>
            </div>
             <div class="text-center mt-2">
              Des interfaces personnalisées en fonction du statut de chacun
            </div>
        </div>
      </div>
  </div>
</section>