<section id="howitwork">
  <div class="container">
      <h5 class="text-violet-bold">
          Comment ça marche ?
      </h5>
      <div class="vertical"></div>
      <div class="row">
          <div class="col-6 col-md-6">
            L'employé envoie son retour 
          </div>
          <div class="col-6 col-md-6 offset-md-6">
            Le responsable RH reçoit une notification
sur son espace
          </div>
           <div class="col-6 col-md-6">
           Le compte utilisateur donne accès à une vue d’ensemble des feedbacks donnés et reçus par l'utilisateur 
et les membres de son équipe.
          </div>
            <div class="col-6 col-md-6 offset-md-6">
           Les administrateurs auront en complément accès au détail des retours utilisateurs. 
          </div>
           <div class="col-6 col-md-6">
           feedward assure l'anonymat de celui qui poste un retour. 
L'utilisateur pourra éventuellement sortir de l'anonymat s'il souhaitait avoir un entretien avec le responsable RH. 
          </div>
      </div>
     
  </div>
</section>