<section id="howitwork">
  <div class="container mt-3">
      <h3 class="text-violet-bold"><strong><em class="text-indigo">Comment</strong></em> ça marche ? </h3>
      <div class="vertical"></div>
      <div class="row">
          <div class="col-6 col-md-6"><strong class="text-beige">L'employé</strong> envoie son retour </div>
          <div class="col-6 col-md-6 offset-md-6">Le responsable RH reçoit une <strong class="text-beige">notification</strong> sur son espace</div>
          <div class="col-6 col-md-6">Le compte utilisateur donne accès à une <strong class="text-beige">vue d’ensemble</strong> des feedbacks donnés et reçus par l'utilisateur et les membres de son équipe.</div>
          <div class="col-6 col-md-6 offset-md-6">Les administrateurs auront en complément accès au <strong class="text-beige">détail des retours</strong> utilisateurs. </div>
          <div class="col-6 col-md-6">feedward assure <strong class="text-beige">l'anonymat</strong> de celui qui poste un retour. L'utilisateur pourra éventuellement sortir de l'anonymat s'il souhaite avoir un entretien avec le responsable RH. </div>
      </div>
  </div>
</section>