<section id="info">
  <div class="container mt-5">
    <div class="text-center text-violet-bold display-4">
      Une <strong><em class="text-indigo">voix</strong></em> à vos employés pour grandir <strong class="text-indigo"><em>ensemble</em></strong>
    </div>
    <div class="row mt-5 mx-auto mb-5">
      <div class="col-4 mt-5">
        <div class=text-center>
          <i class="fas fa-volume-up fa-5x text-beige"></i>
        </div>
        <div class="text-center text-landing mt-5">
          Montrez à vos salariés que leurs <strong class="text-beige">paroles</strong> comptent et qu'elles sont entendues
        </div>
      </div>

      <div class="col-4 mt-5">
        <div class="text-center">
            <i class="fas fa-smile fa-5x text-beige"></i>
        </div>
          <div class="text-center text-landing mt-5">
          Favorisez l’<strong class="text-beige">épanouissement</strong> professionnel de vos employés
        </div>
      </div>

      <div class="col-4 mt-5">
        <div class=text-center>
            <i class="fas fa-chart-line fa-5x text-beige"></i>
        </div>
          <div class="text-center text-landing mt-5">
          Tirez le <strong class="text-beige">meilleur</strong> et boostez la productivité de chacun 
        </div>
      </div>
    </div>
  </div>
</section>