<section id="info">
  <div class="container mt-5">
    <div class="text-center text-violet-bold display-4">
      Une <strong><em class="text-indigo">voix</strong></em> pour votre entreprise pour grandir <strong class="text-indigo"><em>ensemble</em></strong>
    </div>
    <div class="row mt-5 mx-auto">
      <div class="col-4 mt-5">
        <div class=text-center>
          <i class="fas fa-volume-up fa-5x text-beige"></i>
        </div>
        <div class="text-center text-landing mt-5">
          Faites entendre vos <strong class="text-beige">paroles</strong> car elles comptent
        </div>
      </div>

      <div class="col-4 mt-5">
        <div class="text-center">
            <i class="fas fa-smile fa-5x text-beige"></i>
        </div>
          <div class="text-center text-landing mt-5">
            <strong class="text-beige"> Epanouissez-vous </strong> dans votre travail et sentez vous écouté
        </div>
      </div>

      <div class="col-4 mt-5">
        <div class=text-center>
          <i class="fas fa-chart-line fa-5x text-beige"></i>
        </div>
        <div class="text-center text-landing mt-5">
          Tirez le <strong class="text-beige">meilleur</strong> de vous-même et boostez votre productivité 
        </div>
      </div>
    </div>
  </div>
</section>
