<section id="home-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-5 offset-md-1 offset-lg-1 mt-5 my-auto">
          <div class="container-fluid-center">
            <h1 class="text-white home-text">Suivez les feedbacks de vos employés de manière instantanée</h1>
            <div class="row">
                <h5 class="offset-1 col-10 text-white offset-2 ml-4">
                    Feedward est la plateforme qui vous aide à prendre soin du bien être de vos employés. 
                </h5>
            </div>

            <div class="row">
              <a class="offset-1 btn-landing btn-lg mt-3 ml-6 mr-auto px-4 btn-try-register" href="<%= new_company_user_path %>">Découvrir Feedward
              </a>
            </div>  
          </div>
      </div>

      <div class="row">
          <img class="offset-2 mt-4" src="<%= asset_path('offices/landing-01')%>" style="height: 600px; width:600px;">
      </div>

    </div>

  </div>
</section>