<section id="home-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 offset-sm-1 offset-md-1 offset-lg-1 mt-5">
           <div class="">
                <h5 class="text-violet-bold home-text">Suivez les feedbacks de vos employés de manière instantanée ...</h5>
                <div class="row">
                    <span class="col-10 offset-2 ml-auto">
                        ... et améliorez vos pratiques managériales ainsi que la culture de votre entreprise.
                    </span>
                </div>

                 <div class="row">
                      <a class="offset-2 btn btn-primary mt-3" href="<%= new_user_session_path %>">J'essaie
                        <i class="fas fa-arrow-right ml-2"></i>
                      </a>
                </div>
                
            </div>
        </div>
      </div>
       <div class="text-center home-btn-next">
          <a class="btn btn-violet" href="#home-2">
              <i class="fas fa-chevron-down text-white"></i>
          </a>
        </div>
    </div>
</section>