<section id="home-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5 offset-sm-1 offset-md-1 offset-lg-1 mt-5">
        <div class="">
          <h1 class="text-violet-bold-hero home-text">Renseignez vos feedbacks de manière instantanée</h1>
          <div class="row">
            <h5 class="col-10 offset-2 ml-auto">
              et faites part de vos frustrations et de vos envies à l'équipe managériale.
            </h5>
          </div>

          <div class="row">
            <a class="offset-3 btn-lg btn-primary mt-3 ml-auto mr-auto" href="<%= new_user_registration_path %>">Je rejoins mon entreprise
              <i class="fas fa-arrow-right ml-2"></i>
            </a>
          </div>  
        </div>
      </div>
    </div>
    <div class="text-center home-btn-next mx-auto">
      <a class="btn btn-violet" href="#home-2">
        <i class="fas fa-chevron-down text-white"></i>
      </a>
    </div>
  </div>
</section>