<section id="home-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-5 offset-md-1 offset-lg-1 mt-5">
          <div class="">
            <h2 class="text-violet-bold-hero home-text">Suivez les feedbacks de vos employés de manière instantanée</h2>
            <div class="row">
                <h5 class="col-10 offset-2 ml-4">
                    et améliorez vos pratiques managériales ainsi que la culture de votre entreprise.
                </h5>
            </div>

            <div class="row">
              <a class="offset-3 big-btn btn-primary mt-3 ml-6 mr-auto px-4 btn-try-register" href="<%= new_company_user_path %>">J'essaie
                <i class="fas fa-arrow-right ml-2"></i>
              </a>
            </div>  
          </div>
      </div>
    </div>
    <div class="text-center home-btn-next mx-auto">
      <a class="btn btn-violet" href="#home-2">
        <i class="fas fa-chevron-down text-white"></i>
      </a>
    </div>
  </div>
</section>