<section id="readmore">
  <div class="container">
    <h3 class="text-violet-bold mt-4">
      Feedward, plus <strong><em class="text-indigo">concrètement</strong></em> ?
    </h3>

    <div class="row mt-3">
      <div class="ml-4 col-md-8 readmore-text-salary">
        <div class="font-weight-bold text-primary">Pour les salariés</div>
        <div class="ml-4 mt-3">
          Une <strong class="text-beige">interface utilisateur</strong> où vous retrouverez l'historique de vos retours ainsi qu'un résumé de ceux de vos
          collègues pour une <strong class="text-beige">idée claire</strong> de la qualité manageriale de votre équipe.
        </div>
      </div>
      <div class="col-md-3 mt-1">
        <img class="img-fluid float-right" src="<%= asset_path('offices/readmore1')%>"
          style="height: 150px; width:150px;">
      </div>
    </div>

    <div class="row mt-5">
      <div class="ml-2 col-md-3">
        <img class="img-fluid" src="<%= asset_path('offices/readmore2')%>" style="height: 150px; width:150px;">
      </div>
      <div class="col-md-8 readmore-text-rh">
        <div class="font-weight-bold text-primary">
          Pour les administrateurs
        </div>
        <div class="ml-4 mt-3">
          Une <strong class="text-beige">interface administrateur</strong> adressée au personnel RH de l'entreprise, avec un accès à la totalité des retours
          dans leur intégralité pour un <strong class="text-beige">travail plus approfondi</strong> sur la politique managériale de l'entreprise.
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="ml-4 col-md-8 readmore-text-salary">
        <div class="font-weight-bold text-primary">Pour tous</div>
        <div class="ml-4 mt-3">
          Un outil de <strong class="text-beige">prise de rendez-vous</strong> avec un RH depuis l'interface utilisateur ou bien avec un employé depuis
          l'interface administrateur afin de ne pas laisser les feedbacks se perdre et d'<strong class="text-beige">échanger</strong> dès que des
          frustrations se présentent.
        </div>
      </div>
      <div class="col-md-3">
        <img class="img-fluid mt-4 float-right" src="<%= asset_path('offices/readmore3')%>"
          style="height: 150px; width:150px;">
      </div>
    </div>

    <div>
</section>