<section id="readmore">
<!--section 1 -->
  <div class="readmore-section-1 container">
    <div class="row">
        <div class="col-md-8">
            <div class="">
                <h5 class="text-violet-bold">Suivez les feedbacks de vos employés de manière instantanée ...</h5>
                <div class="row">
                    <span class="ml-4 col-10 offset-col-2 ml-auto">
                        ... et améliorez vos pratiques managériales ainsi que la culture de votre entreprise.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-4 readmore-img-office">
          <!-- pc-->
          <div class="d-sm-none d-md-block ml-auto">
            <img src="<%= asset_path('offices/readmore1')%>" 
            class="img-fluid readmore-img-pc1"
            alt="Img readmore">
            <img src="<%= asset_path('offices/readmore2')%>" 
            class="img-fluid readmore-img-pc2"
            alt="Img readmore">
          </div>

          <!-- mobile -->
          <div class="row d-md-none">
            <img src="<%= asset_path('offices/readmore1')%>" 
            class="img-fluid col-6"
            alt="Img readmore">
            <img src="<%= asset_path('offices/readmore2')%>" 
            class="img-fluid col-6"
            alt="Img readmore">
          </div>
          </div>
        </div>
    </div>
  </div>

  <!-- section 2 -->

  <div class="readmore-section-2 container">
      <div class="text-center">
          <h5 class="text-violet-bold">
              Des feedbacks rapides et réguliers
          </h5>
      </div>
      <div class="row mt-5">
        <div class="col-4">
            <div class=text-center>
              <i class="far fa-calendar-alt fa-3x"></i>
            </div>
            <div class="text-center mt-2">
              Un suivi quotidien du ressenti et des attentes de vos employés
            </div>
        </div>

        <div class="col-4">
            <div class="text-center">
                <i class="fas fa-chart-line fa-3x"></i>
            </div>
             <div class="text-center mt-2">
              Une analyse récapitulative et précise de l'ensemble des feedbacks
            </div>
        </div>

        <div class="col-4">
             <div class=text-center>
                <i class="fas fa-user-friends fa-3x"></i>
            </div>
             <div class="text-center mt-2">
              Des interfaces personnalisées en fonction du statut de chacun
            </div>
        </div>
      </div>
  </div>
</section>