<section id="readmore-section">
  <div class="container">
    <h5 class="text-violet-bold">
      Feedward, plus concrètement ?
    </h5>

    <div class="row mt-5">
      <div class="ml-4 col-md-8 readmore-text-salary">
        <div class="font-weight-bold">Pour le salariés</div>
        <div class="ml-4 mt-3">
          Une interface utilisateur où vous retrouverez l'historique de vos retours ainsi qu'un résumé de ceux de vos
          collègues pour une idée claire de la qualité manageriale de votre équipe.
        </div>
      </div>
      <div class="col-md-3 mt-1">
        <img class="img-fluid float-right" src="<%= asset_path('offices/readmore1')%>"
          style="height: 150px; width:150px;">
      </div>
    </div>

    <div class="row mt-5">
      <div class="ml-2 col-md-3">
        <img class="img-fluid" src="<%= asset_path('offices/readmore2')%>" style="height: 150px; width:150px;">
      </div>
      <div class="col-md-8 readmore-text-rh">
        <div class="font-weight-bold">
          Pour les administrateurs
        </div>
        <div class="ml-4 mt-3">
          Une interface administrateur adressée au personnel RH de l'entreprise, avec un accès à la totalité des retours
          dans leur intégralité pour un travail plus approfondi sur la politique managériale de l'entreprise.
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="ml-4 col-md-8 readmore-text-salary">
        <div class="font-weight-bold">Pour tous</div>
        <div class="ml-4 mt-3">
          Un outil de prise de rendez-vous avec un RH depuis l'interface utilisateur ou bien avec un employé depuis
          l'interface administrateur afin de ne pas laisser les feedbacks se perdre et d'échanger dès que des
          frustrations se présentent.
        </div>
      </div>
      <div class="col-md-3">
        <img class="img-fluid mt-4 float-right" src="<%= asset_path('offices/readmore3')%>"
          style="height: 150px; width:150px;">
      </div>
    </div>

    <div>
</section>