<!DOCTYPE html>
<html>

<head>
    <% content_for :title, "Compte Secret | " %>
</head>

<body>
    <!-- MAIN BODY -->
    <section class="">
        <%= render  :file => '/devise/registrations/edit' %>

    </section>
</body>

</html>