<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu viens de recevoir un feedback sur Feedward !</h1>
    <p>Tu peux  le retrouver s <%= link_to "ici", dashboard_url %>.</p>
    <p> À très vite !</p>
  </body>
</html>