<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un nouveau feedback a été rempli sur feedward</h1>
    <p>Tu viens juste de remplir un feedback sur Feedward en utilisant l'e-mail suivant : <%= @user.email %>.</p>
    <p> À très vite sur Feedward !</p>
  </body>
</html>