  <!-- Calendly link widget begin -->
  <head>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
  </head>
  <body>
  <a class="d-none d-sm-inline-block btn btn-primary shadow-sm" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/getfeedward/debrief-feeback'});return false;"><i class="f">Prendre un rendez-vous</a>
  </body>
  <!-- Calendly link widget end -->
