<!-- Pie Chart -->
<div class="col-6">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Répartition de vos notes</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <canvas id="myPieChart" width="815" height="306" style="display: block; height: 245px; width: 652px;"></canvas>
      </div>
      <div class="mt-4 text-center small">
        <span class="mr-2">
          <i class="fas fa-circle text-primary"></i> Note 5
        </span>
        <span class="mr-2">
          <i class="fas fa-circle text-secondary"></i> Note 4
        </span>
        <span class="mr-2">
          <i class="fas fa-circle text-info"></i> Note 3
        </span>
        <span class="mr-2">
          <i class="fas fa-circle text-light"></i> Note 2
        </span>
        <span class="mr-2">
          <i class="fas fa-circle text-warning"></i> Note 1
        </span>
        <span class="mr-2">
          <i class="fas fa-circle text-danger"></i> Note 0
        </span>
      </div>
    </div>
  </div>
</div>
