<!DOCTYPE html>
<html>
    <head>
    </head>

    <div class="container">

        <div>
          <br></br>
          <h5 class="text-primary">Ressenti général</h5>
          <p>Entre 0 et 5, quel est ton ressenti par rapport à l’entreprise en général ?</p>
          <p>(ambiance générale, stratégie globale de l’entreprise...)</p>
            <input type="radio" class="custom-control-input">
            <label for="0">0</label>
            <input type="radio">
            <label for="1">1</label>
            <input type="radio">
            <label for="3">3</label>
            <input type="radio">
            <label for="4">4</label>
            <input type="radio">
            <label for="5">5</label>
            <p>Souhaites-tu ajouter un commentaire ? </p>
            <input class="form-control" type="text">
            <br></br>
        </div>

        <div>
            <h5 class="text-primary">Ressenti sur ton environnement de travail</h5>
            <p>Entre 0 et 5, à quel point es-tu satisfait de ton environnement de travail actuel?</p>
            <p>(ton équipe, ton lieu de travail…)</p>
            <input type="radio">
            <label for="0">0</label>
            <input type="radio">
            <label for="1">1</label>
            <input type="radio">
            <label for="3">3</label>
            <input type="radio">
            <label for="4">4</label>
            <input type="radio">
            <label for="5">5</label>
            <p>Souhaites-tu ajouter un commentaire ? </p>
            <input class="form-control" type="text">
            <br></br>
        </div>

        <div>
            <h5 class="text-primary">Ressenti sur tes missions</h5>
            <p>Entre 0 et 5, dans quelle mesure tes missions actuelles répondent-elles à tes attentes ?</p>
            <p>(missions variées, intéressantes…)</p>
            <input type="radio">
            <label for="0">0</label>
            <input type="radio">
            <label for="1">1</label>
            <input type="radio">
            <label for="3">3</label>
            <input type="radio">
            <label for="4">4</label>
            <input type="radio">
            <label for="5">5</label>
            <p>Souhaites-tu ajouter un commentaire ? </p>
            <input class="form-control" type="text">
            <br></br>
        </div>

        <div>
            <h5 class="text-primary">Ressenti sur un élément en particulier</h5>
            <p>Est-ce qu’il y a quelque chose en particulier, dont tu souhaiterais parler ?</p>
            <input class="form-control" type="text">
            <br></br>
        </div>

        <div>
            <h4 class="text-primary">Souhaites-tu partager ton feedback avec quelqu’un ?</h4>
            <input class="form-control" type="text">
            <br></br>
        </div>

        <a class="btn btn-primary btn-lg" href="#" role="button">Envoyer →</a>
        <br></br>
    </div>

</html>


