<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <div>
          <h4 class="text-primary">Ressenti général</h4>
          <p>Entre 0 et 5, quel est ton ressenti par rapport à l’entreprise en général ?</p>
          <p>(ambiance générale, stratégie globale de l’entreprise...)</p>
            <input type="radio">
            <label for="0">0</label>
            <input type="radio">
            <label for="1">1</label>
            <input type="radio">
            <label for="3">3</label>
            <input type="radio">
            <label for="4">4</label>
            <input type="radio">
            <label for="5">5</label>
          <p>Souhaites-tu ajouter un commentaire ? </p>
          <input type="text">
        </div>

        <div>
            <h4 style="color:secondary">Ressenti sur ton environnement de travail</h4>
            <p>Entre 0 et 5, à quel point es-tu satisfait de ton environnement de travail actuel?</p>
            <p>(ton équipe, ton lieu de travail…)</p>
            <input type="radio">
            <label for="0">0</label>
            <input type="radio">
            <label for="1">1</label>
            <input type="radio">
            <label for="3">3</label>
            <input type="radio">
            <label for="4">4</label>
            <input type="radio">
            <label for="5">5</label>
          <p>Souhaites-tu ajouter un commentaire ? </p>
          <input type="text">
        </div>


    </body>

</html>


