<!DOCTYPE html>
<html>
  <head>
  </head>

  <div class="container">
    <br><br>
    <h2 class="text-primary mt-5 mb-2">Questionnaire</h2>

    <form>
      <div class="mb-4">
        <h5 class="text-primary mt-5 mb-2">Ressenti général</h5>
        <p>Entre 0 et 5, quel est ton ressenti par rapport à l’entreprise en général ?<br />
        <small>Ambiance générale, stratégie globale de l’entreprise...</small></p>

        <div class="d-flex">
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiofirst0" name="customRadiofisrt" class="custom-control-input">
            <label class="custom-control-label" for="customRadiofirst0">0</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiofirst1" name="customRadiofirst" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiofirst1">1</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiofirst2" name="customRadiofirst" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiofirst2">2</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiofirst3" name="customRadiofirst" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiofirst3">3</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiofirst4" name="customRadiofirst" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiofirst4">4</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiofirst5" name="customRadiofirst" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiofirst5">5</label>
          </div>
        </div>

        <p class="pt-3 mt-2">Souhaites-tu ajouter un commentaire ? </p>
        <input class="form-control mb-3" type="text">
      </div>

      <div class="mb-4">
        <h5 class="text-primary">Ressenti sur ton environnement de travail</h5>
        <p>Entre 0 et 5, à quel point es-tu satisfait de ton environnement de travail actuel?<br />
        <small>Ton équipe, ton lieu de travail…</small></p>
        <div class="d-flex">
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiosecond0" name="customRadiosecond" class="custom-control-input">
            <label class="custom-control-label" for="customRadiosecond0">0</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiosecond1" name="customRadiosecond" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiosecond1">1</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiosecond2" name="customRadiosecond" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiosecond2">2</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiosecond3" name="customRadiosecond" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiosecond3">3</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiosecond4" name="customRadiosecond" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiosecond4">4</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiosecond5" name="customRadiosecond" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiosecond5">5</label>
          </div>
        </div>
        <p class="pt-3 mt-2">Souhaites-tu ajouter un commentaire ? </p>
        <input class="form-control mb-3" type="text">
      </div>

      <div class="mb-4">
        <h5 class="text-primary">Ressenti sur tes missions</h5>
        <p>Entre 0 et 5, dans quelle mesure tes missions actuelles répondent-elles à tes attentes ?<br />
        <small>Missions variées, intéressantes…</small></p>
        <div class="d-flex">
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiothird0" name="customRadiothird" class="custom-control-input">
            <label class="custom-control-label" for="customRadiothird0">0</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiothird1" name="customRadiothird" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiothird1">1</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiothird2" name="customRadiothird" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiothird2">2</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiothird3" name="customRadiothird" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiothird3">3</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiothird4" name="customRadiothird" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiothird4">4</label>
          </div>
          <div class="custom-control custom-radio mr-3">
            <input type="radio" id="customRadiothird5" name="customRadiothird" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadiothird5">5</label>
          </div>
        </div>
        <p class="pt-3 mt-2">Souhaites-tu ajouter un commentaire ? </p>
        <input class="form-control mb-3" type="text">
      </div>

      <div class="mb-4">
          <h5 class="text-primary">Ressenti sur un élément en particulier</h5>
          <p>Est-ce qu’il y a quelque chose en particulier, dont tu souhaiterais parler ?</p>
          <textarea class="form-control mb-3" id="exampleTextarea" rows="3"></textarea>
      </div>

      <div class="mb-4">
          <h5 class="text-primary pt-5">Souhaites-tu partager ton feedback avec quelqu’un ?</h5>
          <p><em>Merci de renseigner l'adresse email de la personne.</em></p>
          <input class="form-control mb-3" type="text">
      </div>

      <button type="button" class="btn btn-primary mb-5">Envoyer →</button>
    </form>
  </div>
</html>
