/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap.min';
@import 'navigation';
@import 'static_pages';
@import 'users';

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}

footer {
  background: #b2acfa;
  z-index: 10;
  color: #333;
  a {
    color: #333;
  }
  height: 134px;
  margin-top: auto;
}

#alert-section {
  position: absolute;
  display: block;
  width: 100%;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 100;
}
