.text-beige {
  color: #CE885D;
}

.text-indigo {
  color: #22347A;
}

.text-red {
  color: #f44336;
}

.text-green {
  color: #6bb07d;
}

.bg-good {
  background-color: #22347A;
}

.bg-moderate {
  background-color: #b2acfa;
}

.bg-bad {
  background-color: #CE885D;
}
