.text-beige {
  color: #cca992;
}

.text-indigo {
  color: #5b627e;
}

.text-red {
  color: #e6a5a1;
}

.text-green {
  color: #85ac8f;
}

.bg-good {
  background-color: #22347a;
}

.bg-moderate {
  background-color: #b2acfa;
}

.bg-bad {
  background-color: #c49d84;
}
