.text-beige {
  color: #ce885d;
}

.text-indigo {
  color: #ebeaff;
}

.text-red {
  color: #f44336;
}

.text-green {
  color: #6bb07d;
}

.bg-good {
  background-color: #22347a;
}

.bg-moderate {
  background-color: #c4c1df;
}

.bg-bad {
  background-color: #ce885d;
}

.dashboard-header-section {
  margin-top: 8rem;
}
