:root {
  --primary-color: #6558f5;
  --secondary-color: #f1f1f1;

  --light-color: #212529;
  --light-second-color: #727475;
  --light-background: #ffffff;
  --light-second-background: #f1f1f1;
}

.navbar-section {
  background-color: #b2acfa;
  position: relative;
  .nav-text-bold {
    color: #6558f5;
    font-weight: 700;
  }

  .nav-account {
    position: relative;
  }

  a {
    color: #fff;
    font-weight: 400;
  }
  a:hover {
    color: #333;
  }
  .active {
    color: #333;
  }
}
.navbar-toggler-icon {
  z-index: 10;
}

.navbar-dark .navbar-brand {
  color: #6558f5;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #6558f5;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link.nav-text-bold {
  color: #6558f5;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #333;
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #333;
}
.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-text {
  color: #fff;
}
.navbar-dark .navbar-text a {
  color: #fff;
}
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
  color: #333;
}

// Notification
.symbol-noti-wrapper {
  position: relative;
  cursor: pointer;
  max-width: 2.5rem;
  padding: 0.5rem;
}
.symbol-noti {
  color: #6558f5;
}

.navbar-badge {
  font-size: 0.6rem;
  padding: 1px 4px;
  position: absolute;
  right: 2px;
  top: 2px;
  color: red;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 400;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  a {
    color: #6558f5;
  }
}

.dropdown-notification {
  background-color: #fff;
  margin-top: 0.5rem;
  width: 20rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: unset;
  border-radius: 4px;
}

.notification-wrapper {
  max-height: 20rem;
  overflow-y: scroll;
}

.notification-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
  background-color: #b2acfa;
  color: #fff;
  padding-left: 1rem;
}
.dropdown-menu-footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid var(--secondary-color);
}
.overlay-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  display: none;
}
.overlay-scrollbar:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid var(--secondary-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
}
.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

.icon-notification:focus,
.icon-notification:hover {
  color: var(--primary-color);
}
.dropdown-toggle:focus,
.dropdown-toggle:hover {
  .icon-notification {
    color: var(--primary-color);
  }
}
.link-notification-wrapper {
  max-width: 2rem;
}
.dropdown-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #333;
  div,
  span {
    color: #333;
  }
}

.dropdown-menu-link div {
  min-width: 80px;
  height: 50px;
  position: relative;
}
.dropdown-menu-link i {
  font-size: 1.25rem;
  color: #666;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu-link span span {
  font-size: 10px;
}

.dropdown-menu-link:hover,
.dropdown-menu-link:focus {
  color: #16181b;
  text-decoration: none;
  background-color: var(--light-background);
}

.dropdown-menu-link.active,
.dropdown-menu-link:active {
  color: #fff;
  text-decoration: none;
  background-color: #6558f5;
}

.dropdown-menu-link.disabled,
.dropdown-menu-link:disabled {
  color: #b2acfa;
  pointer-events: none;
  background-color: transparent;
}
