.notifications-section {
  margin-top: 5rem;
}
.is-read {
  color: #999;
  font-weight: 300;
}
.feedback-noti-wrapper,
.user-noti-wrapper {
  height: 70vh;
  overflow-y: scroll;
}
.list-group-item {
  z-index: 1;
}
.link-priority {
  z-index: 10;
}
