//------------------------------------------//
// home section
#home-section {
  background: {
    image: asset_url('offices/home');
  }
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.home-btn-next {
  margin-top: 55vh;
}

//------------------------------------------//
// Home section 2
#home-2 {
  position: relative;
}
.readmore-img-office {
  position: relative;
  .readmore-img-pc1 {
    position: absolute;
    top: -20px;
    max-width: 120px;
    max-height: 120px;
  }
  .readmore-img-pc2 {
    position: absolute;
    top: 35%;
    left: 150px;
    max-width: 120px;
    max-height: 120px;
  }
}
.readmore-section-1 {
  margin-top: 100px;
}
.readmore-section-2 {
  margin-top: 100px;
}

//--------------------------------------//
//Read more section
#readmore-section {
  margin-top: 100px;
  position: relative;
  .readmore-text-salary {
    margin-top: 20px;
  }
  .readmore-text-rh {
    margin-top: 20px;
  }
}

//--------------------------------------//
//How it work section
#work-section {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  .col-6 {
    margin-top: 40px;
    text-align: right;
  }
  .col-6.offset-md-6 {
    text-align: left;
  }
  .vertical {
    height: 100%;
    position: absolute;
    border-left: 2px solid #999;
    left: 50%;
  }
}
//--------------------------------------//
//Various
.text-violet-bold {
  color: #6558f5;
  font-weight: 700;
}
.text-violet {
  color: #6558f5;
}
.btn.btn-violet {
  background: #6558f5;
}
