<!DOCTYPE html>
<html>

<head>

  <% content_for :title, "Edit Appointement | " %>
</head>
<body>
  <!-- MAIN BODY -->
  <section>
     <div class="container">
      <div class='row'>
       <h2 class="text-left">Edit Appointement</h2>
        <hr>
        <div class='col-lg-10 col-md-12 mx-auto mt-5'>
           <%= render partial: 'form',  button_name: "Enregistrez ce rendez-vous"%>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
