html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.08rem;
  color: #22347a;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abel', sans-serif;
  font-weight: 700;
}

footer {
  background: #b2acfa;
  z-index: 10;
  color: #333;
  a {
    color: #333;
  }
  margin-top: auto;
}

.text-beige {
  color: #ce885d;
}

.text-indigo {
  color: #22347a;
}

a {
  color: #6558f5;
}

a:hover {
  color: #2210f1;
}

pre,
code,
kbd,
samp {
  font-family: 'Lato', sans-serif;
}

caption {
  color: #b2acfa;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2.25rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.75rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  font-size: 1.25rem;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

mark,
.mark {
  background-color: #f6e8df;
}

.blockquote-footer {
  color: #b2acfa;
}

.img-thumbnail {
  background-color: #fff;
  border: 1px solid #f6e8df;
}

.figure-caption {
  color: #b2acfa;
}

kbd {
  background-color: #22347a;
}

pre {
  color: #22347a;
}

.table {
  color: #22347a;
}

.table th,
.table td {
  border-top: 1px solid #f6e8df;
}

.table thead th {
  border-bottom: 2px solid #f6e8df;
}

.table tbody + tbody {
  border-top: 2px solid #f6e8df;
}

.table-bordered {
  border: 1px solid #f6e8df;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #f6e8df;
}

.table-hover tbody tr:hover {
  color: #22347a;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #f6e8df;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #b2acfa;
}

.table-hover .table-primary:hover {
  background-color: #b2acfa;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #b2acfa;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #f6e8df;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #f6e8df;
}

.table-hover .table-secondary:hover {
  background-color: #f6e8df;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #f6e8df;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #afd4b9;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #95c6a2;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #cfd7f2;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #8092db;
}

.table-hover .table-info:hover {
  background-color: #8092db;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #8092db;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #f6d9b6;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #eeb46d;
}

.table-hover .table-warning:hover {
  background-color: #eeb46d;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #eeb46d;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #fddbd8;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #f88077;
}

.table-hover .table-danger:hover {
  background-color: #f88077;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f88077;
}

.form-control {
  color: #495057;
  border: 1px solid #ced4da;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f6e8df;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #b2acfa;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #b2acfa;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #b2acfa;
  opacity: 1;
}

.form-control::placeholder {
  color: #b2acfa;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-plaintext {
  color: #22347a;
}

.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
  color: #b2acfa;
}

.valid-feedback {
  color: #6bb07d;
}

.valid-tooltip {
  color: #fff;
  background-color: rgba(40, 167, 69, 0.9);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #6bb07d;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: #6bb07d;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .custom-select:valid,
.custom-select.is-valid {
  border-color: #6bb07d;
}

.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: #6bb07d;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: #6bb07d;
}

.was-validated .custom-control-input:valid ~ .custom-control-label,
.custom-control-input.is-valid ~ .custom-control-label {
  color: #6bb07d;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.custom-control-input.is-valid ~ .custom-control-label::before {
  border-color: #6bb07d;
}

.was-validated
  .custom-control-input:valid:checked
  ~ .custom-control-label::before,
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: #34ce57;
  background-color: #34ce57;
}

.was-validated
  .custom-control-input:valid:focus
  ~ .custom-control-label::before,
.custom-control-input.is-valid:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #6bb07d;
}

.was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label {
  border-color: #6bb07d;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label,
.custom-file-input.is-valid:focus ~ .custom-file-label {
  border-color: #6bb07d;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.invalid-feedback {
  color: #d5190b;
}

.invalid-tooltip {
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #d5190b;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #d5190b;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #d5190b;
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #d5190b;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: #d5190b;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip,
.form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label,
.custom-control-input.is-invalid ~ .custom-control-label {
  color: #d5190b;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
  border-color: #d5190b;
}

.was-validated
  .custom-control-input:invalid:checked
  ~ .custom-control-label::before,
.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  border-color: #e4606d;
  background-color: #e4606d;
}

.was-validated
  .custom-control-input:invalid:focus
  ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated
  .custom-control-input:invalid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #d5190b;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label,
.custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #d5190b;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label,
.custom-file-input.is-invalid:focus ~ .custom-file-label {
  border-color: #d5190b;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #22347a;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #22347a;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #6558f5;
  border-color: #6558f5;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4434f3;
  border-color: #3928f2;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #4434f3;
  border-color: #3928f2;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(124, 113, 247, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(124, 113, 247, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #6558f5;
  border-color: #6558f5;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3928f2;
  border-color: #2e1cf1;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(124, 113, 247, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(124, 113, 247, 0.5);
}

.btn-secondary {
  color: #22347a;
  background-color: #b2acfa;
  border-color: #b2acfa;
}

.btn-secondary:hover {
  color: #22347a;
  background-color: #9188f8;
  border-color: #857cf7;
}

.btn-secondary:focus,
.btn-secondary.focus {
  color: #22347a;
  background-color: #9188f8;
  border-color: #857cf7;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 152, 219, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(156, 152, 219, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #22347a;
  background-color: #b2acfa;
  border-color: #b2acfa;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #857cf7;
  border-color: #7a70f6;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 152, 219, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(156, 152, 219, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #6bb07d;
  border-color: #6bb07d;
}

.btn-success:hover {
  color: #fff;
  background-color: #478558;
  border-color: #478558;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #478558;
  border-color: #478558;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #6bb07d;
  border-color: #6bb07d;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #478558;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #405bc9;
  border-color: #405bc9;
}

.btn-info:hover {
  color: #fff;
  background-color: #6077d2;
  border-color: #22347a;
}

.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #6077d2;
  border-color: #22347a;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: #405bc9;
  border-color: #405bc9;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #22347a;
  border-color: #22347a;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-warning {
  color: #22347a;
  background-color: #e8a045;
  border-color: #e8a045;
}

.btn-warning:hover {
  color: #22347a;
  background-color: #b66e16;
  border-color: #b66e16;
}

.btn-warning:focus,
.btn-warning.focus {
  color: #22347a;
  background-color: #b66e16;
  border-color: #b66e16;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #22347a;
  background-color: #e8a045;
  border-color: #e8a045;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #22347a;
  background-color: #b66e16;
  border-color: #e8a045;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #d5190b;
  border-color: #d5190b;
}

.btn-danger:hover {
  color: #fff;
  background-color: #881007;
  border-color: #f44336;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #881007;
  border-color: #f44336;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #d5190b;
  border-color: #d5190b;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #f44336;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-outline-primary {
  color: #6558f5;
  border-color: #6558f5;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #6558f5;
  border-color: #6558f5;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #6558f5;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #6558f5;
  border-color: #6558f5;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.5);
}

.btn-outline-secondary {
  color: #b2acfa;
  border-color: #b2acfa;
}

.btn-outline-secondary:hover {
  color: #22347a;
  background-color: #b2acfa;
  border-color: #b2acfa;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(178, 172, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(178, 172, 250, 0.5);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #b2acfa;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #22347a;
  background-color: #b2acfa;
  border-color: #b2acfa;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(178, 172, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(178, 172, 250, 0.5);
}

.btn-outline-success {
  color: #6bb07d;
  border-color: #6bb07d;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #6bb07d;
  border-color: #6bb07d;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #6bb07d;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #6bb07d;
  border-color: #6bb07d;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info {
  color: #405bc9;
  border-color: #405bc9;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #405bc9;
  border-color: #405bc9;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #405bc9;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  background-color: #405bc9;
  border-color: #405bc9;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
  color: #e8a045;
  border-color: #e8a045;
}

.btn-outline-warning:hover {
  color: #22347a;
  background-color: #e8a045;
  border-color: #e8a045;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: #e8a045;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #22347a;
  background-color: #e8a045;
  border-color: #e8a045;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger {
  color: #d5190b;
  border-color: #d5190b;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #d5190b;
  border-color: #d5190b;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #d5190b;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d5190b;
  border-color: #d5190b;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #6558f5;
}

.btn-link:hover {
  color: #2210f1;
}

.btn-link:disabled,
.btn-link.disabled {
  color: #b2acfa;
}

.dropdown-menu {
  color: #22347a;
}

.dropdown-divider {
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  color: #22347a;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #6558f5;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #b2acfa;
}

.dropdown-header {
  color: #b2acfa;
}

.dropdown-item-text {
  color: #22347a;
}

.input-group-text {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #6558f5;
  background-color: #6558f5;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #f6e8df;
}

.custom-control-input[disabled] ~ .custom-control-label,
.custom-control-input:disabled ~ .custom-control-label {
  color: #b2acfa;
}

.custom-control-input[disabled] ~ .custom-control-label::before,
.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.custom-control-label::before {
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before {
  border-color: #6558f5;
  background-color: #6558f5;
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(101, 88, 245, 0.5);
}

.custom-checkbox
  .custom-control-input:disabled:indeterminate
  ~ .custom-control-label::before {
  background-color: rgba(101, 88, 245, 0.5);
}

.custom-radio
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(101, 88, 245, 0.5);
}

.custom-switch .custom-control-label::after {
  background-color: #adb5bd;
}

.custom-switch
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(101, 88, 245, 0.5);
}

.custom-select {
  color: #495057;
}

.custom-select:focus {
  border-color: #f6e8df;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-select:disabled {
  color: #b2acfa;
  background-color: #e9ecef;
}

.custom-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #f6e8df;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.custom-file-input[disabled] ~ .custom-file-label,
.custom-file-input:disabled ~ .custom-file-label {
  background-color: #e9ecef;
}

.custom-file-label {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.custom-file-label::after {
  background-color: #e9ecef;
}

.custom-range:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.custom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.custom-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.custom-range::-webkit-slider-thumb {
  background-color: #6558f5;
}

.custom-range::-webkit-slider-runnable-track {
  background-color: #f6e8df;
}

.custom-range::-moz-range-thumb {
  background-color: #6558f5;
}

.custom-range::-moz-range-track {
  background-color: #f6e8df;
}

.custom-range::-ms-thumb {
  background-color: #6558f5;
}

.custom-range::-ms-fill-lower {
  background-color: #f6e8df;
}

.custom-range::-ms-fill-upper {
  background-color: #f6e8df;
}

.custom-range:disabled::-webkit-slider-thumb {
  background-color: #adb5bd;
}

.custom-range:disabled::-ms-thumb {
  background-color: #adb5bd;
}

.nav-link.disabled {
  color: #b2acfa;
}

.nav-tabs {
  border-bottom: 1px solid #f6e8df;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #f6e8df;
}

.nav-tabs .nav-link.disabled {
  color: #b2acfa;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  border-color: #f6e8df #f6e8df #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #6558f5;
}

.breadcrumb {
  background-color: #e9ecef;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #b2acfa;
  content: '/';
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #b2acfa;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #6558f5;
  background-color: #fff;
  border: 1px solid #f6e8df;
}

.page-link:hover {
  z-index: 2;
  color: #2210f1;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #f6e8df;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.25);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #6558f5;
  border-color: #6558f5;
}

.page-item.disabled .page-link {
  color: #b2acfa;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #f6e8df;
}

.badge-primary {
  color: #fff;
  background-color: #6558f5;
}

a.badge-primary:hover,
a.badge-primary:focus {
  color: #fff;
  background-color: #3928f2;
}

a.badge-primary:focus,
a.badge-primary.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(101, 88, 245, 0.5);
}

.badge-secondary {
  color: #22347a;
  background-color: #b2acfa;
}

a.badge-secondary:hover,
a.badge-secondary:focus {
  color: #22347a;
  background-color: #857cf7;
}

a.badge-secondary:focus,
a.badge-secondary.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(178, 172, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(178, 172, 250, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #6bb07d;
}

a.badge-success:hover,
a.badge-success:focus {
  color: #fff;
  background-color: #478558;
}

a.badge-success:focus,
a.badge-success.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-info {
  background-color: #405bc9;
}

a.badge-info:hover,
a.badge-info:focus {
  color: #fff;
  background-color: #22347a;
}

a.badge-info:focus,
a.badge-info.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-warning {
  color: #22347a;
  background-color: #e8a045;
}

a.badge-warning:hover,
a.badge-warning:focus {
  color: #22347a;
  background-color: #b66e16;
}

a.badge-warning:focus,
a.badge-warning.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #d5190b;
}

a.badge-danger:hover,
a.badge-danger:focus {
  color: #fff;
  background-color: #f44336;
}

a.badge-danger:focus,
a.badge-danger.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-light {
  color: #22347a;
  background-color: #f8f9fa;
}

a.badge-light:hover,
a.badge-light:focus {
  color: #22347a;
  background-color: #dae0e5;
}

a.badge-light:focus,
a.badge-light.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

a.badge-dark:hover,
a.badge-dark:focus {
  color: #fff;
  background-color: #1d2124;
}

a.badge-dark:focus,
a.badge-dark.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.alert-primary {
  color: #352e7f;
  background-color: #e0defd;
  border-color: #f6e8df;
}

.alert-primary hr {
  border-top-color: #b2acfa;
}

.alert-primary .alert-link {
  color: #25205a;
}

.alert-secondary {
  color: #5d5982;
  background-color: #f0eefe;
  border-color: #f6e8df;
}

.alert-secondary hr {
  border-top-color: #f6e8df;
}

.alert-secondary .alert-link {
  color: #474464;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #afd4b9;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #405bc9;
  background-color: #cfd7f2;
  border-color: #cfd7f2;
}

.alert-info hr {
  border-top-color: #8092db;
}

.alert-info .alert-link {
  color: #405bc9;
}

.alert-warning {
  color: #7f4d10;
  background-color: #f6d9b6;
  border-color: #f6d9b6;
}

.alert-warning hr {
  border-top-color: #eeb46d;
}

.alert-warning .alert-link {
  color: #7f4d10;
}

.alert-danger {
  color: #881007;
  background-color: #fddbd8;
  border-color: #fddbd8;
}

.alert-danger hr {
  border-top-color: #f88077;
}

.alert-danger .alert-link {
  color: #881007;
}

.alert-light {
  color: #881007;
  background-color: #fddbd8;
  border-color: #fddbd8;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.progress {
  background-color: #e9ecef;
}

.progress-bar {
  background-color: #6558f5;
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item-action:active {
  color: #22347a;
  background-color: #e9ecef;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.list-group-item.disabled,
.list-group-item:disabled {
  color: #b2acfa;
  pointer-events: none;
  background-color: #fff;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #6558f5;
  border-color: #6558f5;
}

.list-group-item-primary {
  color: #352e7f;
  background-color: #f6e8df;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
  color: #352e7f;
  background-color: #b2acfa;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #352e7f;
  border-color: #352e7f;
}

.list-group-item-secondary {
  color: #5d5982;
  background-color: #f6e8df;
}

.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus {
  color: #5d5982;
  background-color: #f6e8df;
}

.list-group-item-secondary.list-group-item-action.active {
  color: #fff;
  background-color: #5d5982;
  border-color: #5d5982;
}

.list-group-item-success {
  color: #155724;
  background-color: #afd4b9;
}

.list-group-item-success.list-group-item-action:hover,
.list-group-item-success.list-group-item-action:focus {
  color: #155724;
  background-color: #b1dfbb;
}

.list-group-item-success.list-group-item-action.active {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}

.list-group-item-info {
  color: #405bc9;
  background-color: #cfd7f2;
}

.list-group-item-info.list-group-item-action:hover,
.list-group-item-info.list-group-item-action:focus {
  color: #405bc9;
  background-color: #8092db;
}

.list-group-item-info.list-group-item-action.active {
  color: #fff;
  background-color: #405bc9;
  border-color: #405bc9;
}

.list-group-item-warning {
  color: #7f4d10;
  background-color: #f6d9b6;
}

.list-group-item-warning.list-group-item-action:hover,
.list-group-item-warning.list-group-item-action:focus {
  color: #7f4d10;
  background-color: #eeb46d;
}

.list-group-item-warning.list-group-item-action.active {
  color: #fff;
  background-color: #7f4d10;
  border-color: #7f4d10;
}

.list-group-item-danger {
  color: #881007;
  background-color: #fddbd8;
}

.list-group-item-danger.list-group-item-action:hover,
.list-group-item-danger.list-group-item-action:focus {
  color: #881007;
  background-color: #f88077;
}

.list-group-item-danger.list-group-item-action.active {
  color: #fff;
  background-color: #881007;
  border-color: #881007;
}

.list-group-item-light {
  color: #881007;
  background-color: #fddbd8;
}

.list-group-item-light.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus {
  color: #881007;
  background-color: #ececf6;
}

.list-group-item-light.list-group-item-action.active {
  color: #fff;
  background-color: #881007;
  border-color: #881007;
}

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca;
}

.list-group-item-dark.list-group-item-action:hover,
.list-group-item-dark.list-group-item-action:focus {
  color: #1b1e21;
  background-color: #b9bbbe;
}

.list-group-item-dark.list-group-item-action.active {
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
}

.tooltip {
  font-family: 'Lato', sans-serif;
}

.popover {
  font-family: 'Lato', sans-serif;
}

.bg-primary {
  background-color: #6558f5 !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #3928f2 !important;
}

.bg-secondary {
  background-color: #b2acfa !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #857cf7 !important;
}

.bg-success {
  background-color: #6bb07d !important;
}

a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #478558 !important;
}

.bg-info {
  background-color: #405bc9 !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #22347a !important;
}

.bg-warning {
  background-color: #e8a045 !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #b66e16 !important;
}

.bg-danger {
  background-color: #d5190b !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #f44336 !important;
}

.bg-violet {
  background-color: #b2acfa !important;
}

a.bg-violet:hover,
a.bg-violet:focus,
button.bg-violet:hover,
button.bg-violet:focus {
  background-color: #1d2124 !important;
}

.border-primary {
  border-color: #6558f5 !important;
}

.border-secondary {
  border-color: #b2acfa !important;
}

.border-success {
  border-color: #6bb07d !important;
}

.border-info {
  border-color: #405bc9 !important;
}

.border-warning {
  border-color: #e8a045 !important;
}

.border-danger {
  border-color: #d5190b !important;
}

.text-monospace {
  font-family: 'Abel', sans-serif;
}

.text-primary {
  color: #6558f5 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #2210f1 !important;
}

.text-secondary {
  color: #b2acfa !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: #6f64f6 !important;
}

.text-success {
  color: #6bb07d !important;
}

a.text-success:hover,
a.text-success:focus {
  color: #19692c !important;
}

.text-info {
  color: #405bc9 !important;
}

a.text-info:hover,
a.text-info:focus {
  color: #405bc9 !important;
}

.text-warning {
  color: #e8a045 !important;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #e8a045 !important;
}

.text-danger {
  color: #d5190b !important;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #881007 !important;
}

.text-body {
  color: #22347a !important;
}
