//------------------------------------------//
// home section
#home-section {
  background: {
    image: asset_url('offices/home');
  }
  margin-bottom: 6rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
.btn-try-register{
}
.home-text {
  margin-top: 6rem;
}
.home-btn-next {
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
}

//------------------------------------------//
// Home section 2
#home-2 {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

//--------------------------------------//
//Read more section
#home-2:before {
  content: '';
  display: block;
  height: 6rem; //Height of header
  margin-top: -6rem;
}


#readmore {
  padding-top: 6rem;
  padding-bottom: 8rem;

  .readmore-text-salary {
    margin-top: 1rem;
  }
  .readmore-text-rh {
    margin-top: 1rem;
  }
}
//--------------------------------------//
//How it work section
#howitwork {
  margin-bottom: 8rem;
  margin-top: -1rem;
  padding-top: 3rem;
  position: relative;
  background-image: linear-gradient(#fbf3ef, #fff);

  .col-6 {
    margin-top: 1rem;
    text-align: right;
  }
  .col-6.offset-md-6 {
    text-align: left;
  }
  .vertical {
    position: absolute;
    border-left: 2px solid #6558f5;
    top: 12%;
    left: 50%;
  }
}

//--------------------------------------//
// Demo section

#info {
  position: relative;

  padding-top: 2rem;
  padding-bottom: 6rem;

  .row {
    margin: 5rem;
  }
  .demo-action {
    margin-top: 5rem;
  }
}

#demo {
  position: relative;

  margin-top: -1rem;
  padding-top: 3rem;
  padding-bottom: 6rem;

  background-image: linear-gradient(#fbf3ef, #fff);
  .row {
    margin: 5rem;
  }
  .demo-action {
    margin-top: 5rem;
  }
}

#container {
  margin-bottom: -5rem;
}

//--------------------------------------//
//Various
.text-violet-bold {
  color: #6558f5;
  font-weight: 700;
}

.text-violet-bold-hero {
  color: #6558f5;
  font-weight: 700;
}

.text-violet {
  color: #6558f5;
}
.btn.btn-violet {
  background: #6558f5;
}
.btn.btn-violet-outline {
  border: 1px solid #6558f5;
  color: #6558f5;
}
.btn.btn-violet-outline:hover {
  color: #fff;
  background-color: #6558f5;
}
.text-gray {
  color: #666;
}

//--------------------------------------//

// Static pages
.about-page,
.careers-page {
  .container {
    padding: 5rem 0rem;
  }
  .row {
    padding-top: 2rem;
  }
}

// .about-page,
// .careers-page,

.contact-page,
.privacy-policy-page,
.team-page,
.legal-notice-page {
  .container {
    padding: 5rem 0rem;
  }
  .row {
    padding-top: 2rem;
  }
}
.team-page {
  font-size: 92%;
}
.contact-page #text {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.careers-photo {
  background: {
    image: asset_url('offices/careers');
  }
  height: 50vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-landing {
  font-size: 120%;
}

.text-big-landing {
  font-size: 130%;
}

.text-small-landing {
  font-size: 110%;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.wave {
  color: #fbf3ef;
}

.big-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  line-height: 2.5;
  width: 8;
  border-radius: 0.5rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
