.devise-page {
  min-height: 100%;
  margin-bottom: 8rem;
  margin-top: 4rem;
  .form-group {
    color: #22347a;
  }
  a {
    color: #22347a;
  }
}

.account-settings-section {
  margin-top: 6rem;
}
