<div class="container devise-page">
    <div class="row">
        <div class="col-md-10 mx-auto">

            <p>Hello <%= @email %>!</p>

            <% if @resource.try(:unconfirmed_email?) %>
            <p>Nous te contactons pour te signaler que ton email va être modifié. Voici le nouvel email : <%= @resource.unconfirmed_email %>.</p>
            <% else %>
            <p>Nous te contactons pour te signaler que ton email a été modifié. Voici le nouvel email : <%= @resource.email %>.</p>
            <% end %>

        </div>
    </div>
</div>