<div class="container devise-page">
    <div class="row">
        <div class="col-md-10 mx-auto">

            <p>Hello <%= @resource.email %>!</p>

            <p>Nous te contactons pour te signaler que ton email a été modifié.</p>

        </div>
    </div>
</div>