<div class="container devise-page">
    <div class="row">
        <div class="col-md-10 mx-auto">

            <p>Hello <%= @resource.email %>!</p>

            <p>We're contacting you to notify you that your password has been changed.</p>

        </div>
    </div>
</div>