<div class="container devise-page">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <p>Hello <%= @resource.email %>!</p>

            <p>Ton compte a été bloqué à cause de nombreuses tentatives de connexion échouées.</p>

            <p>Clique ici pour débloquer ton compte:</p>

            <p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

        </div>
    </div>

</div>