<div class="row dashboard-header-section mb-4">
  <div class="col-12 col-md-8 mb-5">
      <div class="align-items-center justify-content-between">
      <h2 class="mb-0 text-indigo">Bienvenue sur le dashboard manager</h2>
      <h6 class="mb-0 text-indigo mt-2">Entreprise: <span class="text-beige"><%= current_user.company.name %></span></h6>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <a href="<%= new_appointment_path %>" class="btn btn-primary btn-block mb-2" data-method="get">Prendre un rendez-vous</a>
    <a href="<%= appointments_path%>" class="btn btn-outline-primary btn-block">Mes rendez-vous</a>
  </div>
</div>

