<br /> <br/>
<div class="align-items-center justify-content-between mt-5 mb-5">
  <h2 class="mb-0 text-indigo">Bienvenue sur le dashboard manager</h2>
  <h6 class="mb-0 text-indigo mt-2">Entreprise: <span class="text-beige"><%= current_user.company.name %></span></h6>
</div>
