 <div class="dropdown-menu dropdown-notification" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
         <div class="dropdown-menu-footer">
          <span>
            View all notifications
          </span>
        </div>
</div>