<footer id="main-footer" class="py-4 px-3">
  <div class="container-fluid text-indigo">
    <div class="row">
        <div class="col-md-2 col-6">
            <h5 class="text">Feedward</h5>
        </div>
        <div class="col-md-3 col-6">
          <div class="d-flex flex-column">
            <div>
              <a class="text">Contactez nous !</a>
            </div>
            <div>
              <a class="text" href="mailto:contact@getfeedward.com">contact@getfeedward.com</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="d-flex flex-column">
            <div>
              <a class="text" href="<%= legal_notice_path %>">Mentions légales</a>
            </div>
            <div>
              <a class="text" href="<%= careers_path %>">Nous rejoindre</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-5">
          <div class="d-flex flex-column">
            <div>
              <a class="text" href="<%= about_path %>">Notre Mission</a>
            </div>
            <div>
              <a class="text" href="<%= privacy_policy_path %>">Politique de confidentialité</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row pt-3">
      <div class="offset-md-5 col-md-7 text">
        <div style = "font-size:70%">
          © Feedward 2020. Tous droits réservés.
        </div>
      </div>
    </div>
  </div>
</footer>