<section id="main-footer" class="py-3 px-3">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2">
              <a href="<%= root_path %>">
                <h5 class="text-bold">Feedward</h5>
              </a>
          </div>
          <div class="col-md-3">
              <div class="d-flex flex-column">
                  <div>Contact</div>
                  <div>A propos</div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="d-flex flex-column">
                  <div>FAQ</div>
                  <div>Carrières</div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="d-flex flex-column">
                  <div>News</div>
                  <div>Rapporter un problème</div>
              </div>
          </div>
          <div class="col-md-1">
            <a class="btn btn-primary" href="#">
                <i class="">
            </a>
          </div>
      </div>
      <div class="row pt-3">
        <div class="text-center mx-auto">
        <div>
            @ Feedward 2020. Tous droits réservés.

        </div>
        </div>
      </div>
  </div>
</section>